<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="UnauthorizedUrl" value="~/UnAuthorized.aspx"/>

    <!--  <add key="MDMSVCUrl" value="http://dev-app-mwcf.travelogixx.net:9001/Consumer.svc/" />-->
    <!-- <add key="MDMSVCUrl" value="http://10.21.32.196:8080/Consumer.svc/" />-->
    <add key="MDMSVCUrl" value="http://localhost:57643/Consumer.svc/"/>
    <!--Accommodation Search, Get and Update -->
    <add key="Accomodation_SearchURI" value="Accomodation/Search"/>
    <add key="Accomodation_SearchAutoComplete" value="Accomodation/SearchAutoComplete"/>
    <add key="Accomodation_AddInfoURI" value="AddAccomodation/Info"/>
    <add key="Accomodation_DetailURI" value="GetAccomodation/Info/{0}"/>
    <add key="Accomodation_DetailBasic" value="GetAccomodation/BasicInfo/{0}"/>
    <add key="Accomodation_UpdateURI" value="UpdateAccomodation/Info"/>
    <add key="Accomodation_UpdateGeoURI" value="UpdateAccomodation/Info/Google"/>
    <add key="Accomodation_UpdateDetailStatusURI" value="UpdateAccomodation/Details/Status"/>
    <add key="Accomodation_SearchNamesURI" value="Accomodation/Search/Names"/>
    <add key="Accomodation_RoomCategoryMaster" value="Accomodation/RoomCategoryMaster"/>

    <!-- Accommodation Contacts -->
    <add key="Accomodation_ContactsURI" value="GetAccomodation/Contacts/{0}/{1}"/>
    <add key="Accomodation_AddContactsURI" value="AddAccomodation/Contacts"/>
    <add key="Accomodation_UpdateContactsURI" value="UpdateAccomodation/Contacts"/>

    <!-- Accommodation Descriptions-->
    <add key="Accomodation_DescriptionsURI" value="GetAccomodation/Descriptions/{0}/{1}"/>
    <add key="Accomodation_AddDescriptionURI" value="AddAccomodation/Descriptions"/>
    <add key="Accomodation_UpdateDescriptionsURI" value="UpdateAccomodation/Descriptions"/>

    <!-- Accommodation Facilities -->
    <add key="Accomodation_FacilitiesURI" value="GetAccomodation/Facilities/{0}/{1}"/>
    <add key="Accomodation_AddFacilitiesURI" value="AddAccomodation/Facilities"/>
    <add key="Accomodation_UpdateFacilitiesURI" value="UpdateAccomodation/Facilities"/>

    <!-- Accommodation Status -->
    <add key="Accomodation_StatusURI" value="GetAccomodation/Status/{0}/{1}"/>
    <add key="Accomodation_AddStatusURI" value="AddAccomodation/Status"/>
    <add key="Accomodation_UpdateStatusURI" value="UpdateAccomodation/Status"/>

    <!-- Accommodation DyamicAttributes, Get and Update -->
    <add key="Accomodation_DynamicAttributesURI" value="GetAccomodation/DynamicAttributes/{0}/{1}/{2}"/>
    <add key="Accomodation_AddDynamicAttributesURI" value="AddAccomodation/DynamicAttributes"/>
    <add key="Accomodation_UpdateDynamicAttributesURI" value="UpdateAccomodation/DynamicAttributes"/>

    <!-- Accommodation ROute Info / How To Reach  -->
    <add key="Accomodation_HowToReachURI" value="GetAccomodation/RouteInfo/{0}/{1}"/>
    <add key="Accomodation_AddHowToReachURI" value="AddAccomodation/RouteInfo"/>
    <add key="Accomodation_UpdateHowToReachURI" value="UpdateAccomodation/RouteInfo"/>

    <!-- Accommodation Nearby Places -->
    <add key="Accomodation_NearbyPlacesURI" value="GetAccomodation/NearbyPlaces/{0}/{1}"/>
    <add key="Accomodation_NearbyPlacesURIWithPaging" value="GetAccomodation/NearbyPlacesWithPaging/{0}/{1}/{2}/{3}"/>

    <add key="Accomodation_AddNearbyPlacesURI" value="AddAccomodation/NearbyPlaces"/>
    <add key="Accomodation_UpdateNearbyPlacesURI" value="UpdateAccomodation/NearbyPlaces"/>
    <add key="AddUpldate_Places" value="AddUpldatePlaces/Places"/>


    <!-- Accommodation Hotel Rules -->
    <add key="Accomodation_HotelRulesURI" value="GetAccomodation/RuleInfo/{0}/{1}"/>
    <add key="Accomodation_AddHotelRulesURI" value="AddAccomodation/RuleInfo"/>
    <add key="Accomodation_UpdateHotelRulesURI" value="UpdateAccomodation/RuleInfo"/>

    <!-- Accommodation Hotel Updates -->
    <add key="Accomodation_HotelUpdatesURI" value="GetAccomodation/HotelUpdates/{0}/{1}"/>
    <add key="Accomodation_AddHotelUpdatesURI" value="AddAccomodation/HotelUpdates"/>
    <add key="Accomodation_UpdateHotelUpdatesURI" value="UpdateAccomodation/HotelUpdates"/>

    <!-- Accommodation HealthAndSafety Updates -->
    <add key="Accomodation_HealthAndSafetyURI" value="GetAccomodation/HealthAndSafety/{0}/{1}"/>
    <add key="Accomodation_AddHealthAndSafetyURI" value="AddAccomodation/HealthAndSafety"/>
    <add key="Accomodation_UpdateHealthAndSafetyURI" value="UpdateAccomodation/HealthAndSafety"/>

    <!-- Accommodation RoomInfo Updates -->
    <add key="Accomodation_RoomURI" value="GetAccomodation/RoomInfo/{0}/{1}"/>
    <add key="Accomodation_RoomInfor_URI" value="GetAccomodation/Info/Details"/>

    <add key="Accomodation_RoomCategory" value="GetAccomodation/RoomInfo_RoomCategory/{0}"/>
    <add key="Accomodation_RoomCategoryWithDetails" value="GetAccomodation/RoomInfo_RoomCategoryWithDetails/{0}/{1}"/>
    <add key="Accomodation_RTM_ML_Suggestion" value="Mapping/AccoSupplierRoomType/GetRTM_ML_Suggestions/{0}"/>
    <add key="Accomodation_RTM_ML_Suggestion_Semantic" value="Mapping/AccoSupplierRoomType/GetRTM_ML_Suggestions_Semantic/{0}"/>
    <add key="Accomodation_RTM_ML_Suggestion_Supervised_Semantic" value="Mapping/AccoSupplierRoomType/GetRTM_ML_Suggestions_Supervised_Semantic/{0}"/>
    <add key="Accomodation_RTM_ML_Suggestion_Syntactic" value="Mapping/AccoSupplierRoomType/GetRTM_ML_Suggestions_Syntactic/{0}"/>


    <add key="Accomodation_AddRoomURI" value="AddAccomodation/RoomInfo"/>
    <add key="Accomodation_UpdateRoomURI" value="UpdateAccomodation/RoomInfo"/>
    <add key="Accomodation_CopyAccoRoomInfo" value="CopyAccomodation/RoomInfo"/>

    <!-- Geo Location -->
    <add key="GeoLocation_ByAddress" value="GetGeoLocation/ByAddress"/>
    <add key="GeoLocation_ByLatLng" value="GetGeoLocation/ByLatLng"/>

    <!-- Accommodation PaxOccupancy Updates -->
    <add key="Accomodation_GetOccupancyURI" value="GetAccomodation/PaxOccupancy/{0}/{1}"/>
    <add key="Accomodation_AddOccupancURI" value="AddAccomodation/PaxOccupancy"/>
    <add key="Accomodation_UpdateOccupancURI" value="UpdateAccomodation/PaxOccupancy"/>

    <!-- Accommodation RoomInfo Updates -->
    <add key="Accomodation_RoomFacilitiesURI" value="GetAccomodation/RoomFacilities/{0}/{1}/{2}"/>
    <add key="Accomodation_AddRoomFacilitiesURI" value="AddAccomodation/RoomFacilities"/>
    <add key="Accomodation_UpdateRoomFacilitiesURI" value="UpdateAccomodation/RoomFacilities"/>

    <!-- Accommodation Media-->
    <add key="Accomodation_GetMediaURI" value="GetAccomodation/Media/{0}/{1}"/>
    <add key="Accomodation_AddMediaURI" value="AddAccomodation/Media"/>
    <add key="Accomodation_UpdateMediaURI" value="UpdateAccomodation/Media"/>

    <!-- Accommodation Media Attributes-->
    <add key="Accomodation_GetMediaAttributesURI" value="GetAccomodation/MediaAttributes/{0}/{1}/{2}/{3}"/>
    <add key="Accomodation_AddMediaAttributesURI" value="AddAccomodation/MediaAttributes"/>
    <add key="Accomodation_UpdateMediaAttributesURI" value="UpdateAccomodation/MediaAttributes"/>

    <!-- Update Address Master Hierarchy -->
    <add key="UpdateAddressMasterHierarchy" value="UpdateAddressMasterHierarchy"/>

    <!-- SiteMap Role Mapping -->
    <add key="SiteMap_Get" value="Admin/SiteMap/Get/{0}/{1}"/>
    <add key="SiteMap_Update" value="Admin/SiteMap/Update"/>
    <add key="SiteMap_Add" value="Admin/SiteMap/Add"/>

    <!--Admin Roles-->
    <add key="Admin_Roles_Get" value="Admin/Roles/Get/{0}/{1}/{2}"/>
    <add key="Admin_Roles_Get_WithEntity" value="Admin/Roles/Get/{0}/{1}"/>
    <add key="Admin_Roles_IsRoleExist" value="Admin/Roles/IsRoleExist"/>
    <add key="Admin_Roles_AddEntityWithRole" value="Admin/Roles/AddEntityWithRole"/>
    <add key="Admin_Roles_ByEntityType" value="Admin/Roles/ByEntityType"/>
    <add key="Admin_SiteMap_GetByUserRole" value="Admin/SiteMap/GetByUserRole/{0}"/>

    <!-- Accommodation ClassificationAttributes -->
    <add key="Accomodation_ClassificationAttributesURI" value="GetAccomodation/ClassificationAttributes/{0}/{1}"/>
    <add key="Accomodation_AddClassificationAttributesURI" value="AddAccomodation/ClassificationAttributes"/>
    <add key="Accomodation_UpdateClassificationAttributesURI" value="UpdateAccomodation/ClassificationAttributes"/>

    <!-- Accommodation ProductMapping -->
    <add key="Accomodation_SearchProductMappingURI" value="Mapping/ProductSupplier/Search"/>
    <add key="Accomodation_ProductMappingURI" value="Mapping/AccomodationProduct/Get/{0}/{1}/{2}"/>
    <add key="Accomodation_UpdateProductMappingURI" value="Mapping/AccomodationProduct/Update"/>

    <!-- Accommodation RoomType Mapping -->
    <add key="Accomodation_RoomTypeMappingURI" value="Mapping/AccoSupplierRoomType/Get/{0}/{1}/{2}/{3}"/>
    <add key="Accomodation_UpdateRoomTypeMappingURI" value="Mapping/AccoSupplierRoomType/Update"/>

    <!-- Country Mapping -->
    <add key="Mapping_GetCountryMappingURI" value="Mapping/Country/Get"/>
    <add key="Mapping_UpdateCountryMappingURI" value="Mapping/Country/Update"/>

    <!-- City Mapping -->
    <add key="Mapping_GetCityMappingURI" value="Mapping/City/Get"/>
    <add key="Mapping_UpdateCityMappingURI" value="Mapping/City/Update"/>
    <add key="Mapping_GetHotelListByCityCode" value="Mapping/City/GetHotelListByCityCode"/>



    <!-- Product Mapping -->
    <add key="Mapping_GetProductMappingByIdURI" value="Mapping/AccomodationProductbyId/Get/{0}"/>
    <add key="Mapping_GetProductMappingMasterURI" value="Mapping/AccomodationProduct/Get"/>
    <add key="Mapping_GetProductMappingURI" value="Mapping/ProductSupplier/Search"/>
    <add key="Mapping_UpdateProductMappingURI" value="Mapping/AccomodationProduct/Update"/>
    <add key="Mapping_ShiftProductMappingURI" value="Mapping/Accomodation/ShiftMapping"/>


    <!--RoomType Mapping-->
    <add key="Mapping_GetAccoSupplierRoomType" value="Mapping/AccoSupplierRoomType/Search"/>
    <add key="AccomodationSupplierRoomTypeMapping_UpdateMap" value="Mapping/AccoSupplierRoomType/UpdateMap"/>
    <add key="AccomodationSupplierRoomTypeMapping_UpdateTTFU" value="Mapping/AccoSupplierRoomType/TTFU"/>
    <add key="UpdateAccomodationSupplierRoomTypeMapping" value="Mapping/AccoSupplierRoomType/UpdateMapping"/>
    <add key="UpdateAccomodationSupplierRoomTypeMappingTrainingFlag" value="Mapping/AccoSupplierRoomType/UpdateTrainingFlag"/>
    <add key="GetAttributeForAccomodationSupplierRoomTypeMapping" value="Mapping/AccoSupplierRoomType/GetAttributes/{0}"/>
    <!--GAURAV_TMAP_746-->
    <add key="AccomodationSupplierRoomTypeMapping_Reset" value="Mapping/AccoSupplierRoomType/Reset"/>

    <!-- Get Country and City Masters -->
    <add key="Masters_GetCityNameList" value="Master/City/Search/Names"/>
    <add key="Masters_CityGet" value="Master/City/Get"/>
    <add key="Masters_CityGetAlphaPaging" value="Master/City/Get/AlphaPaging"/>
    <add key="Masters_CityAdd" value="Master/City/Add"/>
    <add key="Masters_CityUpdate" value="Master/City/Update"/>

    <add key="Masters_AccPriorities" value="Master/AccommodationPriorities/Get"/>

    <!--GAURAV_TMAP_875-->
    <add key="Masters_CountryPriorities" value="Master/CountryPriorities/Get"/>
    <add key="Masters_CountryKeys" value="Master/CountryKeys/Get"/>
    <add key="Masters_CountryRanks" value="Master/CountryRanks/Get"/>
    <!--GAURAV_TMAP_875-->

    <!--GAURAV_TMAP_876-->
    <add key="Masters_CityPriorities" value="Master/CityPriorities/Get"/>
    <add key="Masters_CityKeys" value="Master/CityKeys/Get"/>
    <add key="Masters_CityRanks" value="Master/CityRanks/Get"/>
    <!--GAURAV_TMAP_876-->
    
    <add key="Masters_StatesGetByCountry" value="GetStatesByCountry/{0}"/>
    <add key="Masters_StatesGet" value="Master/States/Get"/>
    <add key="Masters_StatesGetAlphaPaging" value="Master/States/Get/AlphaPaging"/>
    <add key="Masters_StatesAdd" value="Master/States/Add"/>
    <add key="Masters_StatesUpdate" value="Master/States/Update"/>
    <add key="Masters_GetStateNameAndCode" value="Master/GetStateNameAndCode"/>

    <add key="Masters_GetCountryNameList" value="Master/Country/Search/Names"/>
    <add key="Masters_GetAllCountries" value="GetAllCountries"/>
    <add key="Masters_CountryGet" value="Master/Country/Get"/>
    <add key="Masters_AddUpdateCountryMaster" value="Master/Country/AddUpdateCountryMaster"/>
    <add key="Masters_CountryAdd" value="Master/Country/Add"/>
    <add key="Masters_CountryUpdate" value="Master/Country/Update"/>
    <add key="Masters_StateGet" value="Master/States/Get"/>
    <add key="Masters_GetCodeById" value="GetCodeById/{0}/{1}"/>
    <add key="Masters_GetRemarksForMapping" value="GetRemarksForMapping/{0}/{1}"/>
    <add key="Masters_GetDetailsByIdOrName" value="Master/GetDetailsByIdOrName"/>

    <add key="Masters_GetAllRegions" value="GetAllRegions"/>
    <!-- Activity Masters -->
    <add key="Activity_GetActivityDaysOfWeek" value="Activity/ActivityOperatingDays/Get/{0}"/>
    <add key="Activity_AddUpdateActivityDaysOfWeek" value="Activity/ActivityOperatingDays/AddUpdate"/>
    <add key="Activity_GetActivityNonOperatingDays" value="Activity/ActivityNonOperatingDays/Get/{0}/{1}/{2}"/>
    <add key="Activity_AddUpdateActivityNonOperatingDays" value="Activity/ActivityNonOperatingDays/AddUpdate"/>
    <add key="Activity_DeleteActivityNonOperatingDays" value="Activity/DeleteActivityNonOperatingDaysById/DeleteNonOperatingDays"/>
    <add key="Activity_GetActivitiesReport" value="Activity/GetActivitiesReport/Get"/>
    <add key="Activity_GetActivitiesProductDetailsReport" value="Activity/GetActivitiesProductDetailsReport/Get"/>
    
    <add key="Activity_GetActivityPolicy" value="Activity/ActivityPolicy/Get"/>
    <add key="Activity_AddActivityPolicy" value="Activity/ActivityPolicy/AddUpdate"/>
    <add key="Activity_GetActivityInclusion" value="Activity/Inclusions/Get"/>
    <add key="Activity_AddUpdateActivityInclusions" value="Activity/Inclusions/AddUpdateInclusions"/>
    <add key="Activity_GetActivityInclusionDetails" value="Activity/InclusionDetails/Get"/>
    <add key="Activity_AddUpdateActivityInclusionDetails" value="Activity/InclusionDetails/AddUpdate"/>
    <add key="Activity_GetActivityReviewsAndScores" value="Activity/ReviewsAndScores/Get"/>
    <add key="Activity_AddUpdateActivityReviewsNScores" value="Activity/ReviewsAndScores/AddUpdate"/>
    <add key="Activity_GetActivitySupplierProductMapping" value="Activity/SupplierProdMapping/Get"/>
    <add key="Activity_AddUpdateActivitySupplierProductMapping" value="Activity/SupplierProdMapping/AddUpdate"/>
    <add key="Activity_GetActivityDeals" value="Activity/Prices/Get"/>
    <add key="Activity_AddUpdateActivityDeals" value="Activity/Prices/AddUpdate"/>
    <add key="Activity_GetActivityFlavourOptions" value="Activity/FlavourOptions/Get"/>
    <add key="Activity_AddUpdateActivityFlavourOptions" value="Activity/FlavourOptions/AddUpdate"/>
    <add key="Activity_Search" value="Activity/Search"/>

    <add key="Activity_AddUpdateActivity" value="Activity/AddUpdateActivity"/>
    <add key="Activity_AddUpdateProductInfo" value="Activity/AddUpdateProductInfo"/>

    <add key="Activity_ContactsURI" value="GetActivity/Contacts/{0}/{1}"/>
    <add key="Activity_AddContactsURI" value="AddActivity/Contacts"/>
    <add key="Activity_UpdateContactsURI" value="UpdateActivity/Contacts"/>

    <add key="Activity_GetLegacyProductId" value="GetActivity/LegacyProductId/{0}"/>

    <add key="Activity_StatusURI" value="GetActivity/Status/{0}/{1}"/>
    <add key="Activity_AddStatusURI" value="AddActivity/Status"/>
    <add key="Activity_UpdateStatusURI" value="UpdateActivity/Status"/>

    <add key="Masters_GetActivity" value="Master/Activity/Get"/>
    <add key="Masters_GetActivityBySupplier" value="Master/ActivityBySupplier/Get"/>

    <add key="Masters_GetActivityContent" value="Master/ActivityContent/Get"/>
    <add key="Masters_GetActivityNames" value="Master/ActivityNames/Get"/>

    <!--Master Attribute Mapping-->
    <add key="Mapping_Attribute_Search" value="Mapping/MasterAttribute/Search"/>
    <add key="Mapping_Attribute_Get" value="Mapping/MasterAttribute/Get/{0}"/>
    <add key="Mapping_AttributeValue_Get" value="Mapping/MasterAttributeValue/Get"/>
    <add key="Mapping_Attribute_Add" value="Mapping/MasterAttribute/Add"/>
    <add key="Mapping_Attribute_Update" value="Mapping/MasterAttribute/Update"/>
    <add key="Mapping_AttributeValue_Update" value="Mapping/MasterAttributeValue/Update"/>
    <add key="Mapping_AttributeValue_Delete" value="Mapping/MasterAttributeValue/Delete"/>


    <!--Activity Mapping-->
    <add key="Mapping_Activity_Search" value="Mapping/ActivitySupplierProductMapping/Search"/>
    <add key="Mapping_Activity_SearchForMapping" value="Mapping/ActivitySupplierProductMapping/SearchForMapping"/>
    <add key="Mapping_Activity_IsMappedWithSupplier" value="Mapping/ActivityIsMappingWith/Supplier/{0}/{1}"/>
    <add key="Mapping_Activity_Get_ByID" value="Mapping/ActivitySupplierProductMapping/Get/{0}/{1}/{2}/{3}"/>
    <add key="Mapping_Activity_Get" value="Mapping/ActivitySupplierProductMappingById/Get/{0}"/>
    <add key="Mapping_Activity_Update" value="Mapping/ActivitySupplierProductMapping/Update"/>
    <add key="Mapping_Supplier_Activity_ForDDL" value="Mapping/ActivitySupplierForDDL/Search"/>
    <add key="Activity_SupplierProductSubType_ForDDL" value="Activity/GetSupplierProductSubType"/>

    <!--GAURAV-TMAP-645-->
    <add key="AccomodationMapping_GetSupplierVSupplierReport" value="Mapping/Statistics/AccomodationMappingReport"/>


    <!--Get, Add and Update Port-->
    <add key="Masters_PortGet" value="Master/Port/Get/{0}/{1}/{2}"/>
    <add key="Masters_PortSearch" value="Master/Port/Search"/>
    <add key="Masters_PortUpdate" value="Master/Port/Update"/>
    <add key="Masters_PortAdd" value="Master/Port/Add"/>

    <!--Get master Attributes-->
    <add key="Masters_AttributeGetFor" value="Master/MasterAttribute/GetFor"/>
    <add key="Masters_AttributeGet" value="Master/MasterAttribute/Get"/>
    <add key="Masters_AttributeByParentAttributeValue" value="Master/MasterAttribute/ByParentAttributeValue"/>


    <add key="Masters_AttributeGetAll" value="Master/MasterAttributes/GetAll"/>
    <add key="Masters_GetParentAttributes" value="Master/MasterAttributes/GetParentAttributes/{0}"/>
    <add key="Masters_GetAttributesForValues" value="Master/MasterAttributes/GetAttributesForValues/{0}"/>
    <add key="Masters_GetAttributesMasterForValues" value="Master/MasterAttributes/GetAttributesMasterForValues"/>
    <add key="Masters_GetAttributeValuesById" value="Master/MasterAttributes/GetAttributeValuesById/{0}/{1}/{2}"/>
    <add key="Masters_GetAttributeValuesByBySubtype" value="Master/MasterAttributes/TLGXSubType/{0}/{1}"/>
    <add key="Masters_GetListAttributeAndValuesByFOR" value="Master/MasterAttributes/GetListAttributeAndValuesByFOR"/>
    <add key="Masters_SaveMasterAttribute" value="Master/MasterAttributes/SaveMasterAttribute"/>
    <add key="Masters_SaveAttributeValue" value="Master/MasterAttributes/SaveAttributeValue"/>
    <add key="Masters_GetAttributeDetails" value="Master/MasterAttributes/GetAttributeDetails/{0}"/>

    <!--Media Path-->
    <add key="MediaAbsPath" value="~/MEDIA/"/>

    <!--Static Files-->
    <add key="STATIC_FILESAbsPath" value="~/STATIC_FILES/"/>
    <add key="STATIC_FILES_ARCHIVEDAbsPath" value="~/STATIC_FILES_ARCHIVED/"/>
    <!--<add key="STATIC_SERVERPATH" value="\\10.21.32.196\Supplier_Data\Upload_Data\" />-->

    <!--LOCAL-->
    <add key="MediaAbsURL" value="http://dev-web-mapap.travelogixx.net/MEDIA/"/>
    <add key="MediaAttributes" value="Bit depth,Date created,Dimensions,Filename,File extension,Height,Horizontal resolution,Item type,Name,Size,Type,Vertical resolution,Width"/>

    <!--FTP Path and Credentials LOCAL-->
    <add key="MediaFtpUrl" value="ftp://dev-web-mapap.travelogixx.net/Product%20Media/"/>
    <add key="MediaFtpUser" value="TLGX_FTP_USER"/>
    <add key="MediaFtpPassword" value="I4mth3f79u53rP455w0rd"/>

    <!--Admin Authg-->
    <add key="Admin_AuthURI" value="Admin/RoleAuthorizedForUrl"/>

    <!--Admin Entity-->
    <add key="Admin_GetEntityType" value="Admin/EntityType/Get"/>
    <add key="Admin_GetEntity" value="Admin/Entity/Get"/>
    <add key="Admin_UserEntity" value="Admin/UserEntity/AddUpdate"/>
    <add key="Admin_GetUserEntityDetails" value="Admin/UserEntity/Get"/>
    <add key="Admin_User_Get_All" value="Admin/Users/Get/{0}/{1}/{2}"/>
    <add key="Admin_User_SoftDelete" value="Admin/Users/SoftDelete"/>


    <!--Application Management-->
    <add key="Admin_Application_Get" value="Admin/Application/Get/{0}/{1}"/>
    <add key="Admin_Application_AddUpdate" value="Admin/Application/AddUpdateApplicationMgmt"/>
    <add key="Admin_Application_GetByUser" value="Admin/Application/Get/ByUser/{0}"/>

    <!--Mapping Statistics-->
    <add key="Mapping_Staitistics_Get" value="Mapping/Statistics/Get/{0}/{1}/{2}/{3}"/>

    <!--Roll off reports-->
    <add key="Get_RuleReport" value="Mapping/Statistics/GetDataForRuleReport"/>
    <add key="Get_StatusReport" value="Mapping/Statistics/GetDataForStatusReport"/>
    <add key="Get_UpdateReport" value="Mapping/Statistics/GetDataForUpdateReport"/>
    <!--rdlc reports-->
    <add key="countryUnmapped_report" value="Mapping/Statistics/GetsupplierwiseUnmappedCountryReport/{0}"/>
    <add key="cityUnmapped_report" value="Mapping/Statistics/GetsupplierwiseUnmappedCityReport/{0}"/>
    <add key="productUnmapped_report" value="Mapping/Statistics/GetsupplierwiseUnmappedProductReport/{0}"/>
    <add key="activityUnmapped_report" value="Mapping/Statistics/GetsupplierwiseUnmappedActivityReport/{0}"/>
    <add key="summary_report" value="Mapping/Statistics/GetsupplierwiseSummaryReport"/>
    <add key="unmapped_summary_report" value="Mapping/Statistics/GetsupplierwiseUnmappedSummaryReport/{0}"/>

    <!--Missing Attribute reports-->
    <add key="Get_AccomodationDetails" value="GetAccomodation/ListForMissingAttributeReports"/>

    <!--Supplier Management-->
    <add key="Supplier_Get" value="Master/Supplier/Get"/>
    <add key="SupplierByEntity_Get" value="Master/SupplierByEntity/Get"/>
    <add key="Supplier_AddUpdate" value="Master/Supplier/AddUpdate"/>
    <add key="SupplierMarket_AppUpdate" value="Master/SupplierMarket/AddUpdate"/>
    <add key="SupplierMarket_Get" value="Master/SupplierMarket/Get"/>
    <add key="ProductCategoryBySupplier_Get" value="Master/ProductCategoryBySupplier/Get"/>
    <add key="SupplierMarket_SoftDelete" value="Master/SupplierMarket/SoftDelete"/>
    <add key="Supplier_ProductCategory_AddUpdate" value="Master/Supplier_ProductCategory/AddUpdate"/>
    <add key="Supplier_ProductCategory_SoftDelete" value="Master/Supplier_ProductCategory/SoftDelete"/>
    <!--Supplier Schedule-->
    <add key="Supplier_GetSchedule" value="Schedule/Get"/>
    <add key="Supplier_AddUpdateSchedule" value="Schedule/AddUpdateSchedule"/>
    <add key="Supplier_ScheduleTask" value="Schedule/GetScheduledTaskByRoles"/>
    <add key="Supplier_UpdateTaskLog" value="Schedule/UpdateTaskLog"/>
    <add key="Supplier_Scheduler_GetTaskLogs" value="Schedule/GetScheduleTaskLogList/{0}"/>
    <add key="Supplier_ScheduleTask_notification" value="Schedule/GetScheduleNotificationTaskLog"/>
    <!--Statuses-->
    <add key="Statuses_Get" value="GetAllStatuses"/>
    <add key="ApplicationName" value="MDM"/>
    <!--Upload Static Data-->
    <add key="UploadStaticData_Get" value="UploadStaticData/Mapping/Attributes/Get"/>
    <add key="UploadStaticData_Add" value="UploadStaticData/Mapping/Attributes/Add"/>
    <add key="UploadStaticData_Update" value="UploadStaticData/Mapping/Attributes/Update"/>
    <add key="UploadStaticData_UpdateStatus" value="UploadStaticData/Mapping/Attributes/UpdateStatus"/>
    <add key="UploadStaticDataValue_Get" value="UploadStaticData/Mapping/AttributeValues/Get"/>
    <add key="UploadStaticDataValueFilter_Get" value="UploadStaticData/Mapping/AttributeValuesFilter/Get"/>
    <add key="UploadStaticDataValue_Add" value="UploadStaticData/Mapping/AttributeValues/Add"/>
    <add key="UploadStaticDataValue_Update" value="UploadStaticData/Mapping/AttributeValues/Update"/>
    <add key="UploadStaticDataValue_UpdateStatus" value="UploadStaticData/Mapping/AttributeValues/UpdateStatus"/>
    <add key="UpdateSupplierImportFileDetails_Update" value="UploadStaticData/Mapping/UpdateSupplierImportDetails/Update"/>
    <add key="UpdateSupplierImportFileDetails_UpdateUploaded" value="UploadStaticData/Mapping/UpdateSupplierImportDetails/UpdateUploaded"/>

    <add key="StaticDataConfig_GetTableColumn" value="Master/GetListOfColumnNamesByTable/{0}"/>
    <!--For Dropdown-->
    <add key="Mapping_ForDropDown_GetProductByCity" value="Master/ForDropDown/GetProductByCity"/>
    <add key="Mapping_ForDropDown_GetMasterCityData" value="Master/ForDropDown/GetMasterCityData/{0}"/>
    <add key="Mapping_ForDropDown_GetMasterStateData" value="Master/ForDropDown/GetMasterStateData/{0}"/>
    <add key="Mapping_ForDropDown_GetStateByCity" value="Master/ForDropDown/GetStateByCity/{0}"/>
    <add key="Mapping_ForDropDown_GetCountryCodes" value="Master/ForDropDown/GetCountryCodes/{0}"/>
    <add key="Mapping_GetSupplierDataByMapping_Id" value="Master/GetSupplierDataByMapping_Id/{0}/{1}"/>
    <add key="Mapping_ForDropDown_GetMasterCountryDataList" value="Master/ForDropDown/GetMasterCountryDataList"/>
    <add key="Mapping_ForDropDown_GetActivityForDDL" value="Master/GetActivityForDDL/{0}/{1}"/>
    <add key="Supplier_MasterData_ByProductCategory" value="Master/ForDropDown/GetSuppliersByProductCategory/{0}"/>


    <!--Process Or Test Uploaded Files-->
    <add key="Process_Uploaded_Files" value="UploadStaticData/ProcessFile"/>

    <add key="Mapping_ForDropDown_GetMasterCityData_ajax" value="Master/ForDropDown/GetMasterCityData/"/>
    <add key="CheckMediaPositionDuplicateforAccommodation_ajax" value="CheckAccomodationDuplicateMediaPosition/"/>
    <add key="Mapping_ForDropDown_GetMasterCityAreaLocationDetail" value="Master/ForDropDown/GetMasterCityAreaLocationDetail/{0}"/>
    <add key="Mapping_ForDropDown_GetMasterCityAreaDetail" value="Master/ForDropDown/GetMasterCityAreaDetail/{0}"/>
    <add key="Mapping_ForDropDown_GetSupplierMasterData" value="Master/ForDropDown/GetSupplierMasterData"/>
    <add key="Master_SaveCityAreaLocation" value="Master/SaveCityAreaLocation"/>
    <add key="Master_SaveCityArea" value="Master/SaveCityArea"/>
    <add key="Master_GetMasterCityAreaLocationData" value="Master/GetMasterCityAreaLocationData/{0}"/>
    <add key="Master_GetMasterCityAreaData" value="Master/GetMasterCityAreaData/{0}"/>
    <!--Supplier Static File Details-->
    <add key="SupplierFileDetails_Save" value="UploadStaticData/FileDetails/Add"/>
    <add key="SupplierFileDetails_Get" value="UploadStaticData/FileDetails/Get"/>

    <!--GAURAV_TMAP_746-->
    <add key="SupplierFileProcess_Check" value="UploadStaticData/FileProcessingCheck/Get"/>

    <!--<add key="SupplierFileDetails_Update" value="UploadStaticData/FileDetails/Update"/>-->
    <add key="SupplierFileDetails_Update" value="UploadStaticData/FileDetails/UpdateProcessStatus"/>
    <add key="SupplierFileDetails_GetErrorLog" value="UploadStaticData/Mapping/ErrorLog/Get"/>
    <add key="SupplierFileDetails_GetErrorLog_ColumnHeader" value="Error_DATE,ErrorCode,ErrorDescription,ErrorType"/>

    <!--Keyword Manager-->
    <add key="Keyword_AddUpdate" value="Master/Keyword/AddUpdate"/>
    <add key="Keyword_Get" value="Master/Keyword/Get"/>
    <add key="KeywordAlias_Get" value="Master/Keyword/Alias/Get"/>
    <add key="Keyword_ReRun" value="Master/Keyword/ReRun/{0}/{1}/{2}"/>
    <!--Hotel Report-->
    <add key="Get_NewHotelsReport" value="Mapping/Statistics/GetNewHotelsAddedReport"/>

    <!--Velocity Dashboard-->
    <add key="Get_velocityDashboard" value="Mapping/Statistics/GetVelocityDashboard"/>
    <!--Suppiler Export Data-->
    <add key="Get_SupplierDataExport" value="Mapping/Statistics/GetSupplierDataExport/{0}/{1}/{2}/{3}"/>
    <!--File Progress Dashboard-->
    <add key="Get_FileProgress_Dashboard" value="UploadStaticData/Mapping/FileProgressDashboard/Get/{0}"/>

    <!--Supplier API Location-->
    <add key="Supplier_ApiLoc_Get" value="Master/Supplier_ApiLocation/Search"/>
    <add key="Supplier_ApiLoc_Add" value="Master/Supplier_ApiLocation/Add"/>
    <add key="Supplier_ApiLoc_Update" value="Master/Supplier_ApiLocation/Update"/>
    <!--pentaho-->
    <add key="supplier_api_status" value="Pentaho/SupplierApi/Status"/>
    <add key="Supplier_api_search" value="Pentaho/SupplierApi/CallList"/>
    <add key="supplier_newapi_add" value="Pentaho/SupplierApi/Call/{0}/{1}"/>
    <add key="get_supplier_apiLocationid" value="Pentaho/SupplierApi/Get/{0}/{1}"/>
    <add key="supplier_api_viewdetails" value="Pentaho/SupplierApi/ViewDetails/{0}"/>

    <!--Activity Flavour-->
    <add key="get_Activity_Flavour" value="Activity/Flavours/Get"/>
    <add key="addUpdate_Activity_Flavour" value="Activity/Flavours/AddUpdate"/>
    <add key="addUpdate_Activity_FlavourCA" value="Activity/Flavours/AddUpdateCA"/>
    <!--Activity Classification Attributes-->
    <add key="get_Activity_ClasificationAttributes" value="Activity/ClassificationAttributes/Get"/>
    <add key="Add_Activity_ClasificationAttributes" value="Activity/ClassificationAttributes/Add"/>
    <add key="Update_Activity_ClasificationAttributes" value="Activity/ClassificationAttributes/Update"/>
    <!--Activity Media-->
    <add key="get_Activity_Media" value="Activity/Media/Get"/>
    <add key="addUpdate_Activity_Media" value="Activity/Media/AddUpdateMedia"/>
    <add key="addUpdate_Activity_Media_Review" value="Activity/Media/AddUpdateMediaReview"/>
    <add key="get_Activity_MediaAttributesImageReview" value="Activity/GetActivityMediaAttributesForImageReview"/>
    <!--Activity Description-->
    <add key="get_Activity_Description" value="Activity/Descriptions/Get"/>
    <add key="addUpdate_Activity_Description" value="Activity/Descriptions/AddUpdate"/>
    <!--Activity Prices-->
    <add key="get_Activity_Prices" value="Activity/Prices/Get"/>
    <add key="addUpdate_Activity_Prices" value="Activity/Prices/AddUpdate"/>

    <!--Activity Flavour Status-->
    <add key="addUpdate_Activity_Flavour_Status" value="Activity/Flavours/AddUpdateStatus"/>

    <!--File Service-->
    <add key="File_Upload" value="File/Upload"/>
    <add key="File_UploadInChunks" value="File/UploadInChunks"/>
    <add key="File_TransferInChunks" value="File/TransferInChunks"/>

    <!--Zone Master-->
    <add key="AddZone" value="Master/Zone/Add"/>
    <add key="AddZoneCities" value="Master/Zone/AddZoneCity"/>
    <add key="SearchZone" value="Master/Zone/Search"/>
    <add key="SearchZoneCities" value="Master/Zone/SearchZoneCities"/>
    <add key="SearchZoneHotels" value="Master/Zone/SearchZoneHotels"/>
    <add key="DeactivateZoneAndCities" value="Master/Zone/DeactivateOrActivateZones"/>
    <add key="InsertZoneHotelsInTable" value="Master/Zone/InsertInZoneProductTable"/>
    <add key="DeleteZoneHotelsInTable" value="Master/Zone/DeleteZoneHotelsInTable"/>
    <add key="UpdateZoneHotelsInTable" value="Master/Zone/UpdateZoneHotelsInTable"/>
    <add key="IncludeExcludeHotels" value="Master/Zone/IncludeExcludeHotels"/>

    <!--Refresh distribution list-->
    <add key="DistribuitionRefresh_CountryMaster" value="Load/CountryMaster/{0}/{1}"/>
    <add key="DistribuitionRefresh_CountryMapping" value="Load/CountryMapping/{0}/{1}"/>
    <add key="DistribuitionRefresh_CityMaster" value="Load/CityMaster/{0}/{1}"/>
    <add key="DistribuitionRefresh_CityMapping" value="Load/CityMapping/{0}/{1}"/>

    <add key="DistribuitionRefresh_HotelMapping" value="Load/HotelMapping/{0}"/>
    <add key="DistribuitionRefresh_HotelMappingLite" value="Load/HotelMappingLite/{0}"/>

    <add key="DistribuitionRefresh_ActivityMapping" value="Load/ActivityMapping/{0}/{1}"/>
    <add key="DistribuitionRefresh_SupplyMaster" value="Load/SupplierMaster/{0}/{1}"/>
    <add key="DistribuitionRefresh_PortMaster" value="Load/PortMaster/{0}/{1}"/>
    <add key="DistribuitionRefresh_StateMaster" value="Load/StateMaster/{0}/{1}"/>
    <add key="DistribuitionRefresh_StaticHotel" value="Load/SupplierMaster/{0}/{1}/{2}"/>
    <add key="DistribuitionRefresh_ActivitiesBySupplier" value="Load/ActivityBySupplier/{0}/{1}/{2}"/>
    <add key="DistribuitionActivityData" value="Load/SupplierActivityDetails"/>
    <add key="DistribuitionStaticHotelData" value="Load/SupplierStaticDetails"/>
    <add key="DataAPITransferstatus" value="ML/DataAPITransfer/status"/>
    <add key="DistribuitionRefresh_MasterAccommodation" value="Load/SyncAccommodationMaster/{0}/{1}/{2}"/>
    <add key="DistribuitionRefresh_RoomTypeMapping" value="Load/HotelRoomTypeMapping/{0}/{1}"/>

    <!--Update distribution date-->
    <add key="DistributionDate" value="Get/RefreshDistributionLog"/>

    <!--ML Data API Integration-->
    <!--<add key="PushMasterAccoData" value="ML/Master/Accommodation" />
    <add key="PushMasterAccoRoomFacilityData" value="ML/Master/AccommodationRoomFacilities"/>
    <add key="PushMasterAccoRoomInfoData" value="ML/Master/AccommodationRoomInformation"/>
    <add key="PushRoomTypeMatchingData" value="ML/RoomTypeMatching"/>
    <add key="PushSupplierAccoData" value="ML/Supplier/AccommodationData"/>
    <add key="PushSupplierAccoRoomData" value="ML/Supplier/AccommodationRoomData"/>
    <add key="PushSupplierAccoRoomExtedAttrData" value="ML/Supplier/AccommodationRoomExtendedAttributes"/>-->
    <add key="PushSyncMLAPIData" value="ML/SyncMLAPIData"/>
    <!--Zone&ZoneType Sync-->
    <add key="GeographyDataSync" value="Load/GeographyData"/>

    <!--New DashBoard reports-->
    <add key="Country_DashBoardReport" value="GetCountryWiseNewDashReport"/>

    <add key="City_DashBoardReport" value="Mapping/Reports/GetCityWiseHotelMappingReport"/>
    <!-- Multi Select Dropdown -->
    <add key="Masters_GetRegionwiseCountriesList" value="Master/GetRegionwiseCountries/CountryList"/>
    <add key="Masters_GetCountrywiseCitiesList" value="Master/GetCountrywiseCities/City"/>
    <add key="Masters_GetAllCountrywiseCitiesList" value="Master/GetAllCountrywiseCities/CityList"/>
    <add key="Get_EzeegoHotelVsSupplierHotelMapping" value="Mapping/Statistics/EzeegoHotelVsSupplierHotelMapping"/>
    <add key="Master_GetMasterCityDetails" value="Master/GetCitiesData/{0}/{1}"/>

    <!-- Supplier Static Download Data -->
    <add key="Supplier_StaticDownloadData_AddUpdate" value="Master/Supplier_StaticDataDownload/AddUpdate"/>
    <add key="Supplier_StaticDownloadData_Get" value="Master/Supplier_StaticDataDownload/Get"/>

    <add key="Get_HotelMappingReport" value="Mapping/GetHotelMapping"/>


  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DEV-DB-MMSSQL.TRAVELOGIXX.NET,21443;Initial Catalog=TLGX_MAPPING;User ID=sqldata;Password=V4m4nC3n7r36f!00r^c4b1n2"/>
    <add name="TLGX_MAPPEREntities1" connectionString="metadata=res://*/Models.TLGX_Mapper_Entity.csdl|res://*/Models.TLGX_Mapper_Entity.ssdl|res://*/Models.TLGX_Mapper_Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV-DB-MMSSQL.TRAVELOGIXX.NET,21443;initial catalog=TLGX_MAPPING;user id=sqldata;password=V4m4nC3n7r36f!00r^c4b1n2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <!--<siteMap defaultProvider="SiteMapDataSource1" enabled="true">
      <providers>
        <add name="SiteMapDataSource1" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap" />
      </providers>
    </siteMap>-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <customErrors mode="RemoteOnly"/>
    <siteMap enabled="true" defaultProvider="AspNetSqlSiteMapProvider">
      <providers>
        <add name="AspNetSqlSiteMapProvider" type="TLGX_Consumer.SqlSiteMapProvider" description="SQL Server site map provider" connectionStringName="DefaultConnection"/>
      </providers>
    </siteMap>
    <caching>
      <sqlCacheDependency enabled="true"/>
    </caching>
    <!--securityTrimmingEnabled="true"-->
    <authentication mode="Forms">
      <forms timeout="360"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>


        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <clear/>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" createPersistentCookie="false" defaultProvider="DefaultRoleProvider" maxCachedResults="25">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler,            AjaxControlToolkit"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <!--<staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
