@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url("font-awesome.min.css");

/* Common CSS */

body {
	font-family: 'Open Sans', sans-serif;
	;
	font-weight: 400;
	font-size: 12px;
	background: #fff;
}

a,
a:visited,
a:focus,
input,
button {
	outline: none !important;
}

a {
	color: #004f93;
}

a:hover {
	text-decoration: underline;
	color: #0d4779;
}

cite {
	font-style: normal;
}

.container {
	width: 1280px;
}

header {
	background: #004f93;
}

label {
	font-weight: normal;
	margin: 0;
}

input[type="text"],
input[type="date"] {
	width: 100%;
	padding-left: 4px;
}

.heading {
	background: #888;
	font-size: 18px;
	padding: 8px 15px;
}

.subheading {
	background: #ccc;
	padding: 8px 15px;
	font-size: 16px;
}

.mandatory {
	color: #FF0000;
}

select {
	width: 100%;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.padding-top-bottom {
	padding: 15px 0;
}

.remove-padding-left {
	padding-left: 0px;
}

.entries {
	margin: 4px 0;
}

.margin-bottom {
	margin-bottom: 15px;
}

.margin-top {
	margin-top: 10px;
}

.outer {
	padding: 5px;
}

.form-control {
	font-size: 12px;
}

fieldset {
	border: 1px solid #ddd;
	padding: 15px;
	margin: 15px 0;
	display: table-cell;
	width: 100%;
}

legend {
	margin-bottom: 0;
	padding: 0 10px;
	font-size: 14px;
	border: none;
	width: auto;
	font-weight: 600;
}

.btn-sm {
	color: #FFF;
	background-color: #004f93;
	border-color: #004f93;
	margin-left: 5px;
	padding: 7px 10px;
}

.radio-inline input[type="radio"] {
	margin-top: 2px;
}

.form-control {
	padding: 4px 10px;
}

select {
	/*-webkit-appearance:none; -moz-appearance:none; appearance:none; background: url(../images/dp-arrow.png) no-repeat right 6px #ffffff !important;*/
	background: #fff;
	padding: 4px 0px 4px 0px !important;
}

.padding-top-bottom {
	padding: 15px 0;
}

.icon-size {
	font-size: 20px;
	top: 7px;
}

.hiddeninput {
	position: absolute;
}

.lineheight {
	line-height: 34px;
}

.full-fieldset {
	display: block;
	width: 100%;
}

.col-xs-15,
.col-md-15 {
	width: 20%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.row {
	list-style-type: none;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-15 {
	margin-top: 15px;
}

.border-bottom {
	border-bottom: 1px solid #ccc;
}

.padding-left-15 {
	padding-left: 15px;
}

.commonul fieldset {
	margin: 0px;
}

select[disabled] {
	background: url(../images/dp-arrow.png) no-repeat right 6px #eee !important;
}

.disabled {
	box-shadow: none;
	cursor: not-allowed;
	opacity: 0.65;
}

.padding-top {
	padding-top: 7px;
}

.auto-overflow {
	overflow: auto
}

.join-table .left-table {
	padding-right: 0px;
}

.join-table .right-table {
	padding-left: 0px;
}

.nav-tabs li .show-entries {
	margin-top: 2px;
}

.radio.form-inline> label {
	width: 120px;
}

.radio.form-inline> .form-group {
	margin: 5px;
}

.panel-default .panel-heading {
	border-top: 1px solid #ddd;
}

.panel-group .panel-default .panel-heading {
	border-top: none;
}

.control-label-left {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: left;
}

.remove-padding {
	padding: 0;
}

.warning> td {
	background: #fcf8e3;
}

.italic-ttl {
	font-style: italic;
	font-weight: bold;
}

.warning a {
	font-weight: bold;
}

.info> td {
	background: #d9edf7;
}

.view-all {
	font-weight: 600;
	font-size: 15px;
}

[class^="col-"] input[type="date"].form-control {
	padding-left: 8px;
	padding-right: 8px;
}

.large-table th {
	min-width: 100px;
}

.table-main {
	margin-bottom: 15px;
}

.padding-all {
	padding: 15px;
	float: left;
	width: 100%;
}

.note {
	color: blue;
}

.box-border {
	border: 1px solid #ddd;
	padding: 7px 15px;
	margin-bottom: 15px;
}


/* Header */

.navbar-brand {
	height: auto;
	min-height: 50px;
	padding: 8px 0
}

.navbar-collapse {
	padding-left: 180px;
}

.navbar-collapse .nav {
	height: 96px;
	display: table;
	float: none;
}

.navbar-collapse li {
	display: table-cell;
	vertical-align: middle;
	float: none;
}

.navbar-collapse li a {
	color: #fff;
}

.navbar-collapse li a:hover,
.navbar-collapse li a:active,
.navbar-collapse li a:focus {
	background: #0d4779;
	border-radius: 6px;
	color: #fff;
}

.float-right {
	float: right;
}

.navbar-collapse .float-right {
	padding-top: 6px;
}

.select-country {
	color: #fff;
	font-size: 12px;
}

.select-country label {
	color: #fff;
	background: #0d4779;
	font-weight: 600 !important;
	font-size: 12px;
	margin-left: 4px;
	padding: 2px 4px;
}

.person-dtl {
	padding: 0;
}

.person-dtl li {
	display: block;
	color: #fff;
	font-size: 12px;
	margin-top: 4px;
}

.person-dtl li i {
	color: #fff;
}

.mail-head {
	padding-right: 12px;
	float: left;
}

.navbar-collapse ul li i {
	padding-right: 4px;
}

.phone-head {
	float: left;
}


/* Communication */

article {
	margin: 0 0 40px 0;
}

.comm-blocks {
	border: 1px solid #666;
	border-radius: 4px;
	background: #fff;
	padding: 0;
	width: 70px;
}

.comm-blocks cite,
.comm-blocks button {
	text-align: center;
}

.comm-blocks cite {
	font-size: 16px;
	padding: 2px;
	display: block;
	float: none;
	font-weight: 400;
	color: #656565;
}

.communication button.plus {
	border: none;
	border-radius: 6px;
	background: #666 !important;
	border-radius: 4px;
	color: rgba(0, 0, 0, 0.9);
	color: rgba(255, 255, 255, 0.8)
}

.communication button:hover {
	background: #e7e7e7;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.communication button:active {
	background: #fff;
}

.comm-blocks i {
	font-size: 16px;
	float: left;
	border-right: 1px solid #666;
	padding: 4px 6px;
	color: #666;
}

h1 {
	color: #004f93;
	font-weight: 300;
	margin: 24px 0 12px 0;
}

h1 span {
	font-weight: 600;
}

.communication h4 {
	font-weight: 300;
	color: #004f93;
	margin: 0 0 12px 0;
}

.counter {
	padding: 0 6px;
	float: left;
}

.counter-value {
	padding-left: 15px;
}

.counter .btn-default {
	padding: 4px 7px;
	font-size: 12px;
	text-align: center;
}

.counter-value .comm-container {
	padding: 0 0 15px 0;
}

.comm-container .row {
	margin: 0 -6px;
	padding: 0;
}

.comm-container h4 {
	color: #dedfd9;
	font-size: 16px;
}

.col-50,
input[type="text"].col-50,
input[type="date"].col-50 {
	float: left;
	width: 48%;
	margin-left: 2%
}

.block-left {
	text-align: left;
	float: left;
	width: 100%;
	padding-left: 5px;
}


/* Booking Tab*/

.booking-overview {
	margin: 16px 0 0 0
}

.tab-content {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddfd8;
	border-top: none;
	border-bottom: 5px solid #dedfd9;
	background: url(../images/slider-bg.gif) repeat-x bottom;
}

.element-control .control-label {
	text-align: left;
	margin-bottom: 10px;
}

.nav-tabs {
	background: #dedfd9;
}

.nav-tabs li a {
	color: #333;
	font-size: 14px;
	font-weight: 600;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:active,
.nav-tabs li a:hover {
	background: #fff;
	color: #004f93;
}

.error-msg {
	color: #FC5D5D;
}

.msg-label i {
	font-size: 18px;
	color: #F94040;
	padding: 0 5px 0 0 !important;
	float: left;
	padding: 5px 0 0 0;
}

.control-label+ p {
	margin-bottom: 2px;
	font-weight: 500;
}


/* Product Summary */

#productSummary .slick-track {
	padding: 20px 0;
}

.product-view {
	margin: 16px 0 0 0;
}

.product-view .tab-content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 0;
}

.product-items {
	height: 100px;
	padding: 0 40px
}

.item-group {
	width: 70%;
	float: left;
	position: relative;
	margin-left: 30%;
}

.item-group button {
	width: 100%;
}

.item-icon {
	width: 30%;
	float: left;
	text-align: center;
}

.big-icon {
	font-size: 48px;
	position: absolute;
	top: 10px;
	left: -35%;
	margin-top: 0;
}

.big-icon-combo1 {
	font-size: 48px;
	position: absolute;
	top: 44px;
	left: -35%;
	margin-top: 0;
}

.big-icon-combo2 {
	font-size: 48px;
	position: absolute;
	bottom: 40px;
	top: auto;
	left: -35%;
	margin-top: 0;
}

.combination-icon {
	font-size: 18px;
	position: absolute;
	bottom: 112px;
	left: -28%;
	top: auto;
	margin-top: 0;
}

.top-white-line-1px {
	border-top: 1px solid #fff;
}

.item-group button {
	background: #fff;
	border: 1px solid #eee;
	padding: 0;
	margin: 0 0 1px 0;
}

.info-head {
	background: #dddfd8;
	padding: 4px 6px;
}

.info-head i {
	float: left;
	text-align: left;
	color: #888;
	font-size: 16px;
	padding: 2px 0 0 0;
}

.info-head label {
	display: block;
	font-weight: 500;
	color: #444;
	font-size: 16px;
	margin: 0;
}

.info-med {
	padding: 12px 0;
	background: #fff;
}

.info-bottom {
	background: #dddfd8;
	color: #444;
	padding: 4px 6px;
	font-size: 12px;
}

.overview-outstading {
	list-style: none;
	margin: 0;
	padding: 8px;
	background: #0d4779;
	float: left;
	width: 100%;
	border-radius: 0 0 4px 4px;
}

.overview-outstading li {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
}

.overview-outstading li label {
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	margin: 0;
	font-style: normal;
}


/*.table{ table-layout: fixed;}*/


/* Panel Wrapper */

.panel-heading {
	background: #ccc;
	padding: 8px 15px;
	font-size: 16px;
}

.panel-default>.panel-heading.main-heading {
	background: #b5b5b5;
}


/* Flight Details */

.table-container {
	padding: 8px 15px 20px 15px;
}


/*.main-table th{ padding: 8px;}
.sub-table{ border: 0;}
.sub-table table{ table-layout: fixed; border: none;}
.sub-table td, .sub-table th{ padding: 4px; word-wrap: break-word; border: 1px solid #ddd;}
.flight-table{ margin: 16px 0 0 0;}
.main-table{ border: 1px solid #ddd; border-top: 0;}
.sub-table tr:first-child th{ background: #f5f5f5; border: 1px solid #ddd; font-size: 16px; font-weight: 500; text-align: left; border-top: 0;}
.sub-table td input, .sub-table td select{ width: 100%;}
.sub-table th{ font-size: 12px; font-weight: 600; vertical-align: top; text-align: center;}
.sub-table td{ font-size: 12px; line-height: 1; text-align: center;}*/

.other-events,
.other-events a {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	padding-left: 40px;
}

.other-events a {
	color: #004f93;
}

.block-info {
	margin-top: 8px;
}

.block-info label {
	display: block;
}

.block-info span {
	font-weight: 600;
}


/*.sub-table td .block-info input{ width: 70%; text-align: center; margin:0 auto;}*/

.date-time input {
	margin-bottom: 6px;
}

td> label {
	font-weight: bold;
}

.table-collapse label {
	display: inline-block;
	text-overflow: ellipsis;
	width: 34px;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
}

.exp-collapse {
	cursor: pointer;
}

.table-collapse .exp-collapse i {
	transform: rotate(180deg);
}

.travel-mode {
	display: none;
}

.travel-mode.active {
	display: block;
}

#multiple-items {
	display: none;
}

.sub-item-group-2 button {
	float: left;
	width: 100%;
	background: transparent;
	padding: 0;
	border: 1px solid #eee;
}

#multiple-items button.active * {
	color: #004f93;
}

.image-center {
	float: left;
	margin-top: -5px;
	padding-left: 10px;
}

.client-table {
	table-layout: fixed;
}

.client-table th,
.client-table td {
	border: 1px solid #ddd;
	text-align: center;
	font-size: 12px;
	vertical-align: middle;
	word-wrap: break-word;
	padding: 4px;
}

.set-date {
	padding: 2px !important;
}

.set-date input[type="date"].form-control,
.set-date input[type="time"].form-control {
	padding: 4px 0 !important;
}

.client-table th {
	font-weight: 600;
	vertical-align: middle;
}

.travel-list.active {
	display: block;
}

.travel-list {
	display: none;
}

.item-group button.active .info-head label,
.item-group button.active .info-head i,
.item-group button.active .info-med,
.item-group button.active .info-bottom {
	color: #004f93;
}

.item-group button.active {
	pointer-events: none;
}

.product-items:visited,
.product-items:active,
.product-items:focus {
	outline: none;
}


/* Order List */

.search-order {
	margin: 0 0 16px 0;
}

.order-list .table-striped th {
	font-size: 12px;
	font-weight: 600;
}

.order-list .table-striped th,
.order-list .table-striped td {
	text-align: center;
	/*border: 1px solid #eee;*/
}

.order-list .table-striped td {
	font-size: 12px;
}


/* Category */

.category a {
	display: block;
	text-align: center;
	padding: 0;
}

.category a i {
	margin-top: 30px;
	background: #004f93;
	border-radius: 100%;
	padding: 32px;
	font-size: 32px;
	color: #fff;
}

.category a h4 {
	margin: 40px 0 0 0;
	padding: 18px;
	background: #f5f5f5;
	border-radius: 0 0 4px 4px;
	font-weight: 500;
	font-size: 18px;
}

.signin {
	margin: 0 auto;
	width: 100%;
}

.signin-block {
	float: none;
	margin: 0 auto;
}

.form-signin input:first-child {
	margin-top: 0;
}

.form-signin input {
	margin-top: 16px;
}

.form-signin .btn-block {
	margin: 16px 0 0 0;
}


/* Refund */

.search ul li {
	margin-bottom: 10px;
}

.commonul textarea {
	width: 100%;
}


/*pagination*/

ul.pagination {
	padding: 0;
	margin: 15px 0 0 0;
}

ul.pagination li {
	width: auto;
}

.pagination> li {
	margin: 10px 0;
}

.pagination> li:first-child> a,
.pagination> li:last-child> a {
	border: 0px;
	font-size: 16px;
	line-height: 16px
}

.pagination> li> a {
	margin: 0 5px;
	padding: 3px 6px;
	color: #333;
}


/*search*/

.search label.labelsearch {
	width: 175px;
	padding-right: 0px;
	padding-left: 15px;
	float: left;
}

.search .select-container {
	width: 134px;
	float: left;
}

.search label {
	padding-right: 0px;
}


/* table main*/

.table-main th,
.table-main td {
	border: 1px solid #ddd;
	text-align: center;
	font-size: 12px;
	vertical-align: middle;
	word-wrap: break-word;
	padding: 8px;
}

.table-main th,
.table-main th label {
	font-weight: 600;
	background: #f6f6f6;
}

.table-main th label {
	font-size: 13px;
}

.table-main input[type="checkbox"] {
	margin: 0 0 0 5px;
}

.table-main span {
	display: block;
}

.table-main span.table-cell {
	display: table-cell;
}


/*.table-main{ max-width: 100%; width: 100%; }*/

.table-main th {
	white-space: nowrap;
}

.table-main.table-fixed {
	table-layout: fixed;
}

.table-main.wrap-text th,
.table-main.table-fixed th {
	white-space: normal;
}


/*show entries */

.show-entries {
	float: right;
	margin: 0 15px;
	margin-right: 0px !important;
}

.show-entries select {
	width: 60px;
	margin: 0 10px 0 5px;
	float: left;
}


/* transfer-list */

.transfer-list {
	display: table;
	width: 100%;
}

.transfer-list> div {
	display: table-cell;
	vertical-align: middle;
}

.transfer-list ul {
	max-height: 190px;
	list-style-type: none;
	margin: 0;
	overflow: auto;
	padding: 0;
}

.transfer-list label {
	padding: 10px;
	background: #eee;
	display: block;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
	margin: 0;
}

.transfer-list ul li {
	margin: 0;
	padding: 10px;
	cursor: pointer;
}

.transfer-list ul li:hover {
	background: #f6f6f6;
}

.left-selection,
.right-selected {
	border: 1px solid #ddd;
}

.transfer-selection {
	text-align: center;
	width: 150px;
}

.transfer-selection a {
	color: #000;
	display: inline-block;
	padding: 10px;
	background: #eee;
	margin: 5px;
	min-width: 90px;
	border: 1px solid #ddd;
}

.subheading .glyphicon-menu-up {
	padding: 4px;
}


/*tworow table*/

.slidetable {
	overflow: auto;
	width: 100%;
}

.tworow-table {
	table-layout: fixed;
}

.tworow-table th,
.tworow-table td {
	border: 1px solid #ddd;
	text-align: center;
	font-size: 12px;
	vertical-align: middle;
	word-wrap: break-word;
	padding: 4px;
}

.tworow-table th {
	font-weight: 600;
	vertical-align: middle;
}


/*radio style*/

.customradio {
	background-color: #e6e6e6;
	border-color: #ccc;
	color: #333;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 0px 10px 4px;
}

.customradio .radio {
	padding-top: 5px;
}


/* Accordion */

.detail-info.collapsed .glyphicon-menu-right:before {
	content: "\e258" !important;
}

.detail-info .glyphicon-menu-down:before {
	content: "\e259" !important;
}

.saved-search-arrow .glyphicon-menu-left:before {
	content: "\e257" !important;
}

.noWrap {
	white-space: nowrap;
}

.yellowBox .yellow-icon {
	background: #EFD473;
	border: 1px solid #C9A016;
	width: 12px;
	height: 12px;
	display: inline-block;
}

.margin-left-5 {
	margin-left: 5px;
}

.accordion-expand {
	width: 98%;
	float: right;
}

.landingPage {
	position: relative;
}

.saved-search-arrow,
.expand-search-arrow {
	top: 20px;
	left: 15%;
	background: #f5f5f5;
	padding: 8px;
	position: absolute;
	cursor: pointer;
}

.expand-search-arrow {
	left: 15px;
}

.clear-text select.opaque,
.clear-text input.opaque {
	padding: 0 !important;
	display: none;
	border: none;
}


/*icon panel*/

.icon-panel {
	float: left;
	border: 1px dotted #ddd;
	padding: 12px;
}

.icon-panel i {
	color: #666;
	float: left;
	font-size: 16px;
	padding: 4px 6px;
}

.icon-panel cite {
	color: #004f93;
	float: left;
	font-size: 16px;
	font-weight: 400;
	padding: 1px 12px 0 3px;
}


/**/

.noborder-table th,
.noborder-table td {
	border: 0px;
	width: 50%;
}


/* Slider prev and next buttons */

.slick-arrow {
	position: absolute;
	top: 50%;
	height: 40px;
	width: 40px;
	margin-top: -20px;
	background: transparent;
	color: transparent;
	border: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	z-index: 10;
	transition: 300ms ease 0s;
	-moz-transition: 300ms ease 0s;
	-webkit-transition: 300ms ease 0s;
}

.slick-prev {
	left: -1px;
}

.slick-next {
	right: -1px;
}

.slick-arrow.slick-disabled {
	opacity: 0.5;
	pointer-events: none;
}

.slick-prev:before,
.slick-next:before {
	font-family: 'Glyphicons Halflings';
	color: #0d4779;
	font-size: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.slick-prev:before {
	content: "\e257";
}

.slick-next:before {
	content: "\e258";
}


/*To do */

td[rowspan][id^='rowSpanAlignment_'] {
	vertical-align: middle;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.vertical-align {
	display: flex;
	align-items: center;
}
